$primary-color: #f5002d;
$secundary-color: #ffd000;
$color-primary-gradiant: linear-gradient(to right, #f5002d, #e44965);
$color-secundary-gradiant: linear-gradient(to right, #ffd000, #ffd000);
$blanco: white;
$gradiant-wave: linear-gradient(60deg, #f5002d 100%, #ffd000 100%);
$gradiant-cartel: linear-gradient(to right, #ffd000, #f3d139);
$gradiant-masterhead: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
$size-width-icon: 25px;
$size-height-icon: 25px;
